selenium==4.22.0
seleniumbase==4.28.3
pytest==8.2.2
setuptools==70.2.0
requests==2.32.3
pytz==2024.1
python-dateutil==2.9.0.post0
pytest-xdist==3.6.1
timetools==0.6.0
datetime==5.5
openpyxl==3.1.5
nose==1.3.7
allure-pytest==2.13.5
multiprocess==0.70.16
webdriver-manager==4.0.1
python-docx==1.1.2
docx==0.2.4
pandas==2.2.2
parameterized==0.9.0
